.avatar-view {
    -fx-font-size: 21px;
    -fx-font-family: "Rubik Medium";
}

.avatar-view .text-wrapper {
    -fx-background-color: #6495ED;
}

.avatar-view .text-wrapper .inner-text {
    -fx-fill: white;
}
