.circle-progress-indicator {
}

.circle-progress-indicator .track-circle {
    -fx-stroke-width: 3px;
    -fx-stroke: -fx-box-border;
    -fx-fill: transparent;
}

.circle-progress-indicator .progress-arc {
    -fx-stroke-width: 3px;
    -fx-stroke: -fx-accent;
    -fx-fill: transparent;
}

.circle-progress-indicator .progress-label {
    -fx-text-alignment: center;
    -fx-alignment: center;
}
