.duration-picker {
    -fx-padding: 0px;
    -fx-pref-height: 2.1em;
}

.duration-picker > .box {
    -fx-alignment: center;
    -fx-spacing: 0px;
}

.duration-picker > .box > .spacer {
    -fx-pref-width: 0px;
}

.duration-picker > .box > .edit-button {
    -fx-pref-width: 27px;
    -fx-padding: 5px 5px;
    -fx-cursor: arrow;
    -fx-background-color: -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-insets: 1 1 1 0, 1, 2;
    -fx-background-radius: 0 3 3 0, 0 2 2 0, 0 1 1 0;
}

.duration-picker:focused > .box > .edit-button {
    -fx-background-color: -fx-focus-color, -fx-inner-border, -fx-body-color, -fx-faint-focus-color, -fx-body-color;
    -fx-background-insets: 0, 1, 2, 1, 2.6;
    -fx-background-radius: 0 2 2 0, 0 1 1 0, 0 1 1 0, 0 1 1 0;
    -fx-border-color: -fx-faint-focus-color;
    -fx-border-width: 0 0 0 1;
    -fx-border-insets: 0 0 0 -1;
}

.duration-picker > .box > .edit-button > .ikonli-font-icon {
    -fx-icon-code: mdi-timer;
    -fx-icon-size: 14px;
    -fx-icon-color: -fx-mark-color;
}

.duration-picker > .box > .fields-box {
    -fx-padding: 0px 5px;
}

.duration-picker > .box > .fields-box > .separator {
    -fx-padding: 0px 1px;
}

.duration-picker > .box > .fields-box > .unit-field {
    -fx-padding: 0px 2px;
    -fx-alignment: center;
}

.duration-picker > .box > .fields-box > .unit-field.no-label {
}

.duration-picker > .box > .fields-box > .unit-field.short-label {
}

.duration-picker > .box > .fields-box > .unit-field.long-label {
}

.duration-picker > .box > .fields-box > .unit-field:focused {
    -fx-background-radius: 2px;
    -fx-background-color: -fx-selection-bar;
    -fx-text-fill: white;
}

/* --------------------------------------------------------------
 * DurationPickerPopup
 */

.duration-picker-popup .box {
    -fx-background-color: white;
}

.duration-picker-popup .box .picker {
    -fx-cell-size: 30px;
    -fx-indicator-size: 30px;
}

.duration-picker-popup .box .picker:vertical .segment {
    -fx-background-color: linear-gradient(from 0% 0% to 0% 100%,
    rgba(255, 255, 255, .4),
    rgba(255, 255, 255, .6) 25%,
    rgba(255, 255, 255, 1) 50%,
    rgba(255, 255, 255, .6) 75%,
    rgba(255, 255, 255, .4) 100%);
    -fx-pref-height: 150;
    -fx-pref-width: 50;
}

.duration-picker-popup .box .picker .segment > .segment-cell {
    -fx-font-size: 1.25em;
    -fx-font-family: null;
    -fx-text-fill: black;
    -fx-background-color: transparent;
    -fx-background-insets: 0;
}

.duration-picker-popup .box .colon {
    -fx-font-family: null;
    -fx-pref-width: 15;
    -fx-font-size: 1.25em !important;
    -fx-background-color: white;
}
