.email-field {
}

.email-field .icon-wrapper {
    -fx-padding: 5;
}

.email-field .icon-wrapper .ikonli-font-icon {
    -fx-icon-code: "mdi-alert";
    -fx-icon-size: 16px;
    -fx-icon-color: red;
}

.email-field .email-graphic-wrapper {
    -fx-padding: 2px 0;
}

.email-field .email-graphic {
    -fx-min-width: 15px;
    -fx-max-height: 12px;
    -fx-background-color: #3b424c;
    /* SVG Source: MaterialDesign/svg/email.svg [Apache 2.0] */
    -fx-shape: "M20,8L12,13L4,8V6L12,11L20,6M20,4H4C2.89,4 2,4.89 2,6V18A2,2 0 0,0 4,20H20A2,2 0 0,0 22,18V6C22,4.89 21.1,4 20,4Z";
}