.enhanced-password-field .right-icon-wrapper {
    -fx-padding: 0 5px;
    -fx-cursor: hand;
}

.enhanced-password-field .right-icon-wrapper .ikonli-font-icon {
    -fx-icon-size: 15px;
}

.enhanced-password-field:showing .right-icon-wrapper .ikonli-font-icon {
    -fx-icon-code: mdi-eye-off;
}

.enhanced-password-field .right-icon-wrapper .ikonli-font-icon {
    -fx-icon-code: mdi-eye;
}