.limited-text-area,
.limited-text-area:focused {
    -fx-background-color: -fx-background;
    -fx-border-color: -fx-box-border;
}

.limited-text-area:focused > .content-box > .content-pane {
    -fx-background-color: -fx-focus-color, -fx-text-box-border, -fx-control-inner-background;
    -fx-background-insets: -0.4, 1, 2;
    -fx-background-radius: 0;
}

.limited-text-area > .content-box > .bottom-box {
    -fx-padding: 5px 3px;
    -fx-alignment: center-left;
    -fx-border-color: -fx-text-box-border;
    -fx-border-width: 1px 0 0 0;
}

.limited-text-area > .content-box > .bottom-box .tips {
    -fx-text-fill: -fx-box-border;
    -fx-font-size: 12px;
}

.limited-text-area > .content-box > .bottom-box .tips .ikonli-font-icon {
    -fx-icon-size: 15px;
    -fx-icon-color: -fx-box-border;
}

.limited-text-area:error > .content-box > .bottom-box .tips {
    -fx-text-fill: -fx-mark-color;
}

.limited-text-area:error > .content-box > .bottom-box .tips .ikonli-font-icon {
    -fx-icon-color: -fx-mark-color;
}

.limited-text-area:error > .content-box .length-indicator .length-label {
    -fx-text-fill: #ff5700;
    -fx-font-weight: bold;
}

.limited-text-area:error > .content-box .length-indicator > .circle-progress-indicator .progress-arc {
    -fx-stroke: #ff5700;
}

.limited-text-area:warning > .content-box .length-indicator > .circle-progress-indicator > .progress-arc {
    -fx-stroke: #f3c34c;
}

.limited-text-area:error > .content-box > .content-pane,
.limited-text-area:error:focused > .content-box > .content-pane {
    -fx-background-color: #ff5700, -fx-text-box-border, -fx-control-inner-background;
    -fx-background-insets: -0.4, 1, 2;
    -fx-background-radius: 0;
}