.multi-column-list-view {
}

.multi-column-list-view .grid-pane {
    -fx-hgap: 10px;
    -fx-vgap: 10px;
}

.multi-column-list-view .column-list-cell {
    -fx-pref-height: 100px;
}

.multi-column-list-view .column-list-cell:dragged {
    -fx-border-color: grey;
    -fx-border-width: 5px;
    -fx-border-style: dashed;
    -fx-border-insets: 10px;
}

.multi-column-list-view .list-view .placeholder:drag-over {
    -fx-background-color: orange;
}