.pdf-view {
}

.pdf-view .search-result-list-view {
    -fx-pref-width: 300;
}

.pdf-view .search-result-list-view .list-cell {
    -fx-padding: 10;
}

.pdf-view .search-result-list-view .list-cell .page-label {
    -fx-font-weight: bold;
}

.pdf-view .search-result-list-view .list-cell .matches-label {
    -fx-font-size: .9em;
    -fx-text-fill: grey;
}

.pdf-view .search-result-list-view:focused .list-cell:focused .matches-label,
.pdf-view .search-result-list-view:focused .list-cell:selected .matches-label {
    -fx-text-fill: white;
}

.pdf-view .search-result-list-view .list-cell .image-view-wrapper {
    -fx-padding: 2px;
    -fx-background-color: white;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, .1), 6, 0.2, 0, 0);;
}

.pdf-view .search-result-list-view .list-cell .summary-label {
    -fx-font-size: .9em;
}

.pdf-view .thumbnail-list-view .list-cell {
    -fx-padding: 20 20 10 10;
    -fx-background-color: rgb(245, 245, 245) !important;
}

.pdf-view .thumbnail-list-view .list-cell .page-number-label,
.pdf-view .thumbnail-list-view .list-cell:selected .page-number-label {
    -fx-text-fill: grey;
    -fx-font-size: 10px;
}

.pdf-view .thumbnail-list-view .list-cell:selected {
    -fx-background-color: rgb(245, 245, 245) !important;
}

.pdf-view .thumbnail-list-view {
    -fx-pref-width: 200;
}

.pdf-view .thumbnail-list-view .list-cell .image-view-wrapper {
    -fx-padding: 2px;
    -fx-background-color: white;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, .1), 6, 0.2, 0, 0);;
}

.pdf-view .thumbnail-list-view .list-cell:selected .image-view-wrapper {
    -fx-background-color: -fx-selection-bar, white;
    -fx-background-insets: 0, 2;
    -fx-background-radius: 2px;
}

.pdf-view .tool-bar .search-field .ikonli-font-icon {
    -fx-icon-color: gray;
    -fx-icon-size: 16px;
}

.pdf-view .tool-bar .search-field .ikonli-font-icon:hover {
    -fx-icon-color: black;
}

.pdf-view .tool-bar .search-field .ikonli-font-icon:pressed {
    -fx-icon-color: black;
}

.pdf-view .search-navigator {
    -fx-background-color: aliceblue;
    -fx-padding: 5px 10px;
    -fx-fill-height: true;
    -fx-spacing: 10px;
    -fx-alignment: center-right;
}

.pdf-view .search-navigator .search-result-label {
    -fx-text-fill: black;
}

.pdf-view .search-navigator .search-bar-button {
    -fx-padding: 2 5;
    -fx-background-radius: 2, 2;
    -fx-background-color: gray, -fx-base;
    -fx-background-insets: 0, 1 1 1 1;
    -fx-text-fill: black;
}

.pdf-view .search-navigator .search-bar-button:hover {
    -fx-background-color: rgba(0, 0, 0, .5), derive(aliceblue, -10%);
}

.pdf-view .search-navigator .search-bar-button:pressed {
    -fx-background-color: rgba(0, 0, 0, .5), derive(aliceblue, -5%);
}

.pdf-view .search-navigator .search-bar-button:disabled {
    -fx-opacity: 1;
}

.pdf-view .search-navigator .search-bar-button .ikonli-font-icon {
    -fx-icon-color: red;
}

.pdf-view .search-navigator .previous-search-result {
    -fx-background-radius: 3 0 0 3, 3 0 0 3;
}

.pdf-view .search-navigator .next-search-result {
    -fx-background-radius: 0 3 3 0, 0 3 3 0;
    -fx-background-insets: 0, 1 1 1 0;
}

.pdf-view .scroll-pane {
}

.pdf-view .scroll-pane .image-view-wrapper {
    -fx-background-color: white;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, .1), 6, 0.2, 0, 0);
}

.pdf-view .tool-bar .tool-bar-button .ikonli-font-icon {
    -fx-icon-size: 18px;
    -fx-icon-color: black;
}

.pdf-view .page-control .previous-page-button {
    -fx-background-radius: 3 0 0 3, 3 0 0 3, 2 0 0 2, 1 0 0 1;
}

.pdf-view .page-control .page-number-button {
    -fx-background-radius: 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0;
    -fx-background-insets: 0 0 -1 0, 0, 1 0 1 0, 2 0 2 0;
}

.pdf-view .page-control .next-page-button {
    -fx-background-radius: 0 3 3 0, 0 3 3 0, 0 2 2 0, 0 1 1 0;
}

.pdf-view .page-control .page-field {
    -fx-background-radius: 0;
    -fx-pref-column-count: 4;
}

.pdf-view .page-control .page-field:invalid {
    -fx-background-color: red;
}

.pdf-view .bouncer {
}