.popover {
    -fx-background-color: transparent;
}

.popover > .background {
    -fx-stroke: transparent;
    -fx-fill: -fx-control-inner-background;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, .2), 6, 0.3, 0, 2);
}

.popover > .border {
    -fx-stroke: -fx-color;
    -fx-fill: transparent;
    -fx-stroke-width: 1;
}

.popover > .detached {
}

.popover > .content {
}

.popover > .content > .header {
    -fx-padding: 5px 10px;
}

.popover > .content > .header > .title-label {
    -fx-font-weight: bold;
}

.popover > .content > .header > .icon {
}

.popover > .content > .header > .icon > .graphics > .circle {
    -fx-fill: gray;
    -fx-effect: innershadow(gaussian, rgba(0, 0, 0, .2), 3, 0.5, 1.0, 1.0);
}

.popover > .content > .header > .icon > .graphics > .line {
    -fx-stroke: white;
    -fx-stroke-width: 2;
}