.search-text-field {
    -fx-pref-width: 250px;
}

.search-text-field.round {
    -fx-background-radius: 1000px;
}

.search-text-field > .left-pane > .search-icon-wrapper,
.search-text-field > .right-pane > .clear-icon-wrapper {
    -fx-padding: 0px 5px;
}

.search-text-field:history-popup-showing > .left-pane > .search-icon-wrapper,
.search-text-field > .left-pane > .search-icon-wrapper:hover,
.search-text-field > .left-pane > .search-icon-wrapper:pressed {
    -fx-cursor: hand;
    -fx-background-color: -fx-base;
    -fx-background-insets: 2px;
    -fx-background-radius: 2px 0 0 2px;
}

.search-text-field.round:history-popup-showing > .left-pane > .search-icon-wrapper,
.search-text-field.round > .left-pane > .search-icon-wrapper:hover,
.search-text-field.round > .left-pane > .search-icon-wrapper:pressed {
    -fx-background-radius: 1000px 0 0 1000px;
}

.search-text-field:disabled-popup > .left-pane > .search-icon-wrapper,
.search-text-field:disabled-popup > .left-pane > .search-icon-wrapper:hover,
.search-text-field:disabled-popup > .left-pane > .search-icon-wrapper:pressed {
    -fx-cursor: text;
    -fx-background-color: transparent;
}

.search-text-field > .left-pane > .search-icon-wrapper:pressed {
    -fx-background-color: derive(-fx-base, -10%);
}

.search-text-field > .left-pane > .search-icon-wrapper > .search-icon {
    -fx-padding: 0.43995em 0.5em;
    -fx-background-color: -fx-text-inner-color;
    -fx-shape: "M8,2.2c4.1,0,7.4,3.3,7.4,7.4c0,1.8-0.7,3.5-1.8,4.8l0.3,0.3h0.9l5.7,5.7l-1.7,1.7l-5.7-5.7v-0.9l-0.3-0.3  C11.5,16.3,9.8,17,8,17c-4.1,0-7.4-3.3-7.4-7.4S3.9,2.2,8,2.2 M8,4.5c-2.8,0-5.1,2.3-5.1,5.1s2.3,5.1,5.1,5.1s5.1-2.3,5.1-5.1  S10.9,4.5,8,4.5zM16.2,10.7h7.1l-3.5,6.1";
}

.search-text-field:disabled-popup > .left-pane > .search-icon-wrapper > .search-icon {
    -fx-padding: 0.5em;
    -fx-shape: "M9.5,3C13.1,3,16,5.9,16,9.5c0,1.6-0.6,3.1-1.6,4.2l0.3,0.3h0.8l5,5L19,20.5l-5-5v-0.8l-0.3-0.3c-1.1,1-2.6,1.6-4.2,1.6  C5.9,16,3,13.1,3,9.5S5.9,3,9.5,3 M9.5,5C7,5,5,7,5,9.5S7,14,9.5,14S14,12,14,9.5S12,5,9.5,5z";
}

.search-text-field > .right-pane > .clear-icon-wrapper > .ikonli-font-icon {
    -fx-icon-size: 1em;
    -fx-icon-color: -fx-text-inner-color;
}

/* -----------------------------------------------------------------------
 * Style based on Modena.css combo-box-popup style
 */
.search-text-field.round .search-history-list-view {
    -fx-background-radius: 10px;
    -fx-padding: 5px;
}

.search-history-list-view {
    -fx-background-color: linear-gradient(to bottom,
    derive(-fx-color, -17%),
    derive(-fx-color, -30%)
    ),
    -fx-control-inner-background;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 12, 0.0, 0, 8);
    -fx-pref-height: 200px;
}

.search-history-list-view .default-placeholder {
    -fx-padding: 0 10px;
}

.search-text-field-history-popup:above .search-history-list-view {
    -fx-translate-y: -6;
}

.search-history-list-view > .virtual-flow > .clipped-container > .sheet > .list-cell {
    -fx-padding: 4 0 4 5;
    /* No alternate highlighting */
    -fx-background: -fx-control-inner-background;
}

.search-history-list-view > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:hover {
    -fx-background: -fx-accent;
    -fx-background-color: #c9c9c9;
}

.search-history-list-view > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:selected,
.search-history-list-view > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:selected:hover {
    -fx-background: -fx-accent;
    -fx-background-color: -fx-background, -fx-cell-focus-inner-border, -fx-background;
    -fx-background-insets: 0, 1, 2;
}

.search-history-list-view > .placeholder > .label {
    -fx-text-fill: derive(-fx-control-inner-background, -30%);
}

.search-history-list-view .search-field-list-cell {
}

.search-history-list-view .search-field-list-cell .text {
    -fx-fill: -fx-selection-bar-text;
}

.search-history-list-view .search-field-list-cell .text.start {
}

.search-history-list-view .search-field-list-cell .text.middle {
    -fx-underline: true;
}

.search-history-list-view .search-field-list-cell .text.end {
}
