.search-text-field {
    -fx-pref-width: 250px;
    -fx-background-radius: 0px;
    -fx-background-insets: 0px;
    -fx-background-insets: 0px, 1px;
    -fx-background-color: #e0e0e0, white;
}

.search-text-field.round {
    -fx-background-radius: 1000px;
}

.search-text-field .wrapper {
    -fx-padding: 0px 5px;
}

.search-text-field .wrapper .ikonli-font-icon {
    -fx-icon-size: 16px;
    -fx-icon-color: -fx-text-inner-color;
}