.search-text-field {
    -fx-pref-width: 250px;
}

.search-text-field.round {
    -fx-background-radius: 1000px;
}

.search-text-field > .right-pane > .clear-icon-wrapper {
    -fx-padding: 0px 5px;
}

.search-text-field > .left-pane {
    -fx-padding: 0 0 0 2px;
}

.search-text-field > .left-pane > .history-button {
    -fx-background-color: transparent;
    -fx-padding: 2px 3px;
    -fx-background-insets: 0px;
    -fx-background-radius: 2px 0 0 2px;
    -fx-cursor: hand;
}

.search-text-field > .left-pane > .history-button:hover,
.search-text-field > .left-pane > .history-button:pressed,
.search-text-field > .left-pane > .history-button:popup-showing {
}

.search-text-field.round > .left-pane > .history-button,
.search-text-field.round > .left-pane > .history-button:hover,
.search-text-field.round > .left-pane > .history-button:pressed,
.search-text-field.round > .left-pane > .history-button:focused,
.search-text-field.round > .left-pane > .history-button:popup-showing {
    -fx-background-radius: 1000px 0 0 1000px;
}

.search-text-field > .left-pane > .history-button:disabled-popup,
.search-text-field > .left-pane > .history-button:disabled-popup:hover,
.search-text-field > .left-pane > .history-button:disabled-popup:pressed {
    -fx-cursor: text;
}

.search-text-field > .left-pane > .history-button:pressed {
}

.search-text-field > .left-pane > .history-button > .icon {
    -fx-padding: 0.43995em 0.5em;
    -fx-max-height: 0.8799em;
    -fx-background-color: -fx-text-inner-color;
    -fx-shape: "M8,2.2c4.1,0,7.4,3.3,7.4,7.4c0,1.8-0.7,3.5-1.8,4.8l0.3,0.3h0.9l5.7,5.7l-1.7,1.7l-5.7-5.7v-0.9l-0.3-0.3  C11.5,16.3,9.8,17,8,17c-4.1,0-7.4-3.3-7.4-7.4S3.9,2.2,8,2.2 M8,4.5c-2.8,0-5.1,2.3-5.1,5.1s2.3,5.1,5.1,5.1s5.1-2.3,5.1-5.1  S10.9,4.5,8,4.5zM16.2,10.7h7.1l-3.5,6.1";
}

.search-text-field > .left-pane > .history-button:disabled-popup > .icon {
    -fx-padding: 0.5em;
    -fx-max-height: 1em;
    -fx-shape: "M9.5,3C13.1,3,16,5.9,16,9.5c0,1.6-0.6,3.1-1.6,4.2l0.3,0.3h0.8l5,5L19,20.5l-5-5v-0.8l-0.3-0.3c-1.1,1-2.6,1.6-4.2,1.6  C5.9,16,3,13.1,3,9.5S5.9,3,9.5,3 M9.5,5C7,5,5,7,5,9.5S7,14,9.5,14S14,12,14,9.5S12,5,9.5,5z";
}

.search-text-field > .right-pane > .clear-icon-wrapper > .ikonli-font-icon {
    -fx-icon-size: 1em;
    -fx-icon-color: -fx-text-inner-color;
}