.tags-field {
    -fx-padding: 0em;
}

.tags-field:contains-focus {
    -fx-highlight-fill: -fx-accent;
    -fx-highlight-text-fill: white;
    -fx-background-color:
            -fx-focus-color,
            -fx-control-inner-background,
            -fx-faint-focus-color,
            linear-gradient(from 0px 0px to 0px 5px, derive(-fx-control-inner-background, -9%), -fx-control-inner-background);
    -fx-background-insets: -0.2, 1, -1.4, 3;
    -fx-background-radius: 3, 2, 4, 0;
    -fx-prompt-text-fill: transparent;
}

.tags-field .graphic-wrapper {
    -fx-padding: 0em 0em;
}

.tags-field .graphic-wrapper .ikonli-font-icon {
    -fx-icon-size: 16px;
    -fx-icon-color: -fx-text-background-color;
}

.tags-field .auto-completion-label {
    -fx-background-color: transparent;
    -fx-text-fill: -fx-text-background-color;
    -fx-opacity: .5;
}

.tags-field > .flow-pane {
    -fx-padding: 0.166667em;
    -fx-vgap: 0.166667em; /* 2px */
    -fx-hgap: 0.166667em;
}

.tags-field > .flow-pane > .text-field {
    -fx-background-color: transparent;
    -fx-pref-width: 150px;
    -fx-padding: 0.166667em 0.583em 0.166667em 0.416667em; /* 4 7 4 5 */
}

.tags-field:filled > .flow-pane > .text-field {
    -fx-padding: 0.166667em 0.583em 0.166667em 0em; /* 4 7 4 0 */
}

.tags-field > .flow-pane > .tag-view.first {
    -fx-background-radius: 0.166667em;
}

.tags-field > .flow-pane > .tag-view {
    -fx-background: -fx-accent;
    -fx-background-color: -fx-background;
    -fx-text-fill: -fx-text-background-color;
    -fx-cursor: default;
    -fx-background-radius: 0.166667em;
    -fx-padding: 0.166667em 0.666667em;
}

.tags-field > .flow-pane > .tag-view:selected {
    -fx-background: -fx-control-inner-background;
    -fx-background-color: -fx-accent, -fx-background;
    -fx-background-insets: 0em, 0.083333em;
    -fx-text-fill: -fx-accent;
}