.year-view {
    -fx-border-color: #e0e0e0;
}

.year-view:focused {
    -fx-border-color: -fx-accent;
}

.year-view > .grid-pane {
    -fx-background: -fx-control-inner-background-alt;
    -fx-background-color: -fx-background;
    -fx-hgap: 10px;
    -fx-vgap: 10px;
    -fx-padding: 10px;
}

.year-view > .grid-pane > .year-box {
    -fx-cursor: hand;
    -fx-padding: 5px 10px;
}

.year-view > .grid-pane > .year-box > .selection-indicator {
    -fx-pref-height: 2px;
    -fx-background-color: -fx-text-background-color;
    -fx-background-insets: 0px -2px 0px -2px;
}

.year-view > .header {
    -fx-padding: 0.588883em 0.5em 0.666667em 0.5em; /* 7 6 8 6 */
    -fx-background-color: white;
    -fx-background-insets: 0 0 0 0, 0 0 1 0;
    -fx-alignment: center-left;
    -fx-fill-height: false;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, .26), 10, 0.12, -1, 2);
}

.year-view > .header > .year-range-label {
    -fx-font-size: 1.1em;
    -fx-alignment: center;
}

.year-view > .header > .arrow-button {
    -fx-cursor: hand;
    -fx-padding: 0.333333em 0.166667em;
}

.year-view > .header > .arrow-button:hover {
    -fx-background-color: #eeeeee;
    -fx-background-insets: 0px -2px;
    -fx-background-radius: 2px;
}

.year-view > .header > .arrow-button > .left-arrow,
.year-view > .header > .arrow-button > .right-arrow {
    -fx-background-color: -fx-mark-highlight-color, derive(-fx-base, -45%);
    -fx-background-insets: 1 0 -1 0, 0;
    -fx-padding: 0.333333em 0.166667em 0.333333em 0.166667em; /* 4 2 4 2 */
    -fx-effect: dropshadow(two-pass-box, -fx-shadow-highlight-color, 1, 0.0, 0, 1.4);
}

.year-view > .header > .arrow-button > .left-arrow {
    -fx-background-color: derive(-fx-base, -45%);
    -fx-background-insets: 0;
    -fx-padding: 0.333333em 0.25em 0.333333em 0.166667em; /* 4 3 4 2 */
    -fx-shape: "M5.997,5.072L5.995,6.501l-2.998-4l2.998-4l0.002,1.43l-1.976,2.57L5.997,5.072z";
    -fx-scale-shape: true;
}

.year-view > .header > .arrow-button > .right-arrow {
    -fx-background-color: derive(-fx-base, -45%);
    -fx-background-insets: 0;
    -fx-padding: 0.333333em 0.25em 0.333333em 0.166667em; /* 4 3 4 2 */
    -fx-shape: "M2.998-0.07L3-1.499l2.998,4L3,6.501l-0.002-1.43l1.976-2.57L2.998-0.07z";
    -fx-scale-shape: true;
}
