.rich-text-area {
}

.rich-text-area .gap {
    -fx-padding: 0 0 10 0 !important;
}

.rich-text-area .text {
    -fx-padding: 0;
}

.rich-text-area .italic {
    -fx-font-style: italic;
}

.rich-text-area .bold {
    -fx-font-weight: bold;
}

.rich-text-area .subscript {
    -fx-font-size: .8em;
    -fx-translate-y: +3;
}

.rich-text-area .superscript {
    -fx-font-size: .8em;
    -fx-translate-y: -3;
}

.rich-text-area .link {
    -fx-underline: true;
}

.rich-text-area .link:hover {
    -fx-cursor: hand;
}

.rich-text-area .list-item {
    -fx-padding: 0 0 0 0;
}

.rich-text-area .section {
}

.rich-text-area .heading {
    -fx-padding: 0 0 10 0;
    -fx-font-weight: bold;
    -fx-font-size: 1.2em;
}

.rich-text-area .paragraph {
    -fx-padding: 0 0 10 0;
}

.rich-text-area .placeholder {
    -fx-font-style: italic;
    -fx-text-fill: gray;
}

.rich-text-area .list-block {
    -fx-hgap: 5;
}