.arc-progress-indicator {
    /*-fx-font-family: Monospaced;*/
}

.arc-progress-indicator .progress-label {
    -fx-font-size: 15px;
}

/** --- icons --- */
.arc-progress-indicator .progress-label .ikonli-font-icon {
    -fx-icon-code: mdi-download;
    -fx-icon-size: 16px;
}

.arc-progress-indicator:indeterminate .progress-label .ikonli-font-icon {
    -fx-icon-code: mdi-access-point-network;
}

.arc-progress-indicator:completed .progress-label .ikonli-font-icon {
    -fx-icon-code: mdi-check-circle-outline;
}

/* --- bold style --- */
.arc-progress-indicator.bold-style .track-circle {
    -fx-stroke-width: 10px;
    -fx-stroke: -color-accent-subtle;
}

.arc-progress-indicator.bold-style .progress-arc {
    -fx-stroke-width: 5px;
    -fx-stroke: -color-accent-emphasis;
}

/** --- thin style --- */
.arc-progress-indicator.thin-style .track-circle {
    -fx-stroke-width: 1px;
    -fx-stroke: -color-accent-subtle;
}

.arc-progress-indicator.thin-style .progress-arc {
    -fx-stroke-width: 1px;
    -fx-stroke: -color-accent-emphasis;
}

/** --- sector style --- */
.arc-progress-indicator.sector-style {
    -fx-progress-arc-type: ROUND;
}

.arc-progress-indicator.sector-style .track-circle {
    -fx-stroke-width: 5px;
}

.arc-progress-indicator.sector-style .progress-arc {
    -fx-fill: -color-accent-muted;
    -fx-stroke: -color-accent-muted;
    -fx-stroke-width: 1px;
}

.circle-progress-indicator.sector-style:completed .progress-arc {
    -fx-fill: -color-accent-muted;
    -fx-stroke: -color-accent-muted;
    -fx-stroke-width: 1px;
}

/** --- custom style --- */
.container-box {
    -fx-background-color: white;
}