@font-face {
    src: url('Inter-Regular.ttf');
}

@font-face {
    src: url('Inter-Bold.ttf');
}

.dialog-pane {
    -fx-background-color: transparent;
    -fx-base: #202830;
}

.dialog-pane > .content-pane {
    -fx-background-radius: 3px;
    -fx-background-color: #3C434C;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, .26), 20, 0.19, -1, 6);
}

.dialog-pane > .content-pane .prompt-node-wrapper {
    -fx-spacing: 10px;
}

.dialog-pane > .content-pane > .vbox {
}

.dialog-pane > .content-pane > .vbox .label {
    -fx-text-fill: white;
    -fx-font-family: "Inter Bold";
}

.dialog-pane > .content-pane > .vbox > .button-bar {
    -fx-padding: 10px 30px;
    -fx-spacing: 10px;
    -fx-background-color: rgba(100, 112, 122, 0.2);
    -fx-alignment: center;
}

.dialog-pane > .content-pane > .vbox > .button-bar .button {
    -fx-font-family: "Inter Bold";
    -fx-font-size: 10px;
    -fx-background-color: #64707A;
    -fx-background-radius: 3px;
    -fx-text-fill: white;
    -fx-padding: 10 35;
}

.dialog-pane > .content-pane > .vbox > .button-bar .button:hover {
    -fx-background-color: #77818A;
}

.dialog-pane > .content-pane > .vbox > .button-bar .button:pressed {
    -fx-background-color: #8A939B;
}

.dialog-pane > .content-pane > .vbox > .button-bar .button:focused {
    -fx-background-color: #00B3FF, #8A939B;
    -fx-background-insets: -3px, 0px;
}

.dialog-pane > .content-pane > .vbox > .button-bar .button:default {
    -fx-background-color: #0073D9;
}

.dialog-pane > .content-pane > .vbox > .button-bar .button:default:hover {
    -fx-background-color: #0063D1;
}

.dialog-pane > .content-pane > .vbox > .button-bar .button:default:pressed {
    -fx-background-color: #0053C9;
}

.dialog-pane > .content-pane > .vbox > .button-bar .button:default:focused {
    -fx-background-color: #00B3FF, #0053C9;
    -fx-background-insets: -3px, 0px;
}

.dialog-pane > .content-pane > .vbox > .header > .title-and-icon-box {
    -fx-padding: 25px 50px 0px 50px;
    -fx-background-color: transparent;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-spacing: 15px;
}

.dialog-pane > .content-pane > .vbox > .header > .title-and-icon-box > .title {
    -fx-alignment: center;
    -fx-padding: 0;
    -fx-font-size: 24px;
    -fx-font-family: "Inter Bold";
    -fx-text-fill: white;
}

.dialog-pane > .content-pane > .vbox > .content {
}

.dialog-pane > .content-pane > .vbox > .content > .message-label {
    -fx-pref-width: 350px;
    -fx-alignment: center;
}

.dialog-pane > .content-pane > .vbox > .content.padding {
    -fx-padding: 30px 30px 50px 30px;
}

.dialog-pane > .content-pane > .vbox > .header > .title-and-icon-box {
    -fx-alignment: center;
}

.dialog-pane > .content-pane.information > .vbox > .header > .title-and-icon-box > .icon {
    -fx-image: url("icon_dialog_info.png");
}

.dialog-pane > .content-pane.warning > .vbox > .header > .title-and-icon-box > .icon {
    -fx-image: url("icon_dialog_warning.png");
}

.dialog-pane > .content-pane.error > .vbox > .header > .title-and-icon-box > .icon {
    -fx-image: url("icon_dialog_error.png");
}

.dialog-pane > .content-pane.confirmation > .vbox > .header > .title-and-icon-box > .icon {
    -fx-image: url("icon_dialog_help.png");
}

.dialog-pane > .content-pane .text-field {
    -fx-pref-width: 280px;
    -fx-background-radius: 3px;
    -fx-background-color: #202830;
    -fx-text-fill: white;
    -fx-font-size: 12px;
    -fx-padding: 10px;
    -fx-font-family: "Inter Bold";
}

.dialog-pane > .content-pane .text-area {
    -fx-pref-width: 280px;
    -fx-background-color: #8A939B;
}

.dialog-pane > .content-pane .text-area .text {
    -fx-text-fill: white;
}

.dialog-pane > .content-pane > .vbox > .header > .close-button {
    -fx-graphic: url("dialog-cancel.png");
    -size: 21px;
    -fx-background-color: #64707A;
    -fx-background-radius: 1000px;
    -fx-translate-y: 18px;
    -fx-translate-x: -16px;
}

/* ----------------------------------------------------------------------------
 * BusyIndicator
 */

.dialog-pane > * > * > * > .dialog-pane-busy-indicator {
    -size: 100px;
    -fx-pref-width: -size;
    -fx-pref-height: -size;
    -fx-max-width: -size;
    -fx-max-height: -size;
    -fx-background-color: transparent;
}

/* ----------------------------------------------------------------------------
 * CircularProgressIndicator
 */

.dialog-pane > .content-pane .circular-progress {
    -indicator-color: white;
}

.dialog-pane > .content-pane .circular-progress .indicator {
    -fx-stroke-type: centered;
    -fx-stroke: -fx-accent;
    -fx-fill: transparent;
}

/* ----------------------------------------------------------------------------
 * ResizableTextArea
 */
.dialog-pane > .content-pane .resizable-text-area .resize-corner {
    -fx-padding: 0px 2px 2px 0px;
}

.dialog-pane > .content-pane .resizable-text-area .resize-corner .ikonli-font-icon {
    -fx-icon-size: 24px;
    -fx-icon-color: white;
}