.content-box {
    -fx-padding: 8px;
    -fx-spacing: 10px;
}

.icon-wrapper {
    -fx-padding: 0 5px;
    -fx-cursor: hand;
}

.echo-char-box {
    -fx-alignment: center-left;
    -fx-spacing: 20px;
}