.description-markdown-view {
    -fx-font-family: "Inter";
}

.description-markdown-view * {
    -fx-font-family: "Inter";
}

.description-markdown-view .markdown-text,
.description-markdown-view .markdown-listitem-dot,
.description-markdown-view .markdown-codeblock,
.description-markdown-view .markdown-code {
    -fx-font-size: 1em;
}

.description-markdown-view .markdown-heading-3 {
    -fx-padding: 5px 0px;
}

.description-markdown-view .markdown-heading-3 .markdown-text {
    -fx-font-family: "Inter Bold";
    -fx-font-size: 1.5em !important;
}

.markdown-view .markdown-code {
    -fx-text-fill: white;
    -fx-padding: 0px 4px;
}

.markdown-view .markdown-code-background {
    -fx-background-color: -fx-accent;
    -fx-background-radius: 2px;
}

.markdown-view .markdown-code,
.markdown-view .markdown-code-block .code-text-flow {
    -fx-font-family: "JetBrains Mono";
}
