.paging-controls {
    -fx-background-color: white;
}

.paging-controls > .pane .element {
    -fx-background-color:
            #090a0c,
            linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
            linear-gradient(#20262b, #191d22),
            radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 0,1,2,0;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-font-family: "Arial";
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-padding: 10 20 10 20;
}

.paging-controls > .pane > .buttons-container .element.current {
    -fx-border-color: red;
    -fx-border-radius: 5px;
}

.paging-controls > .pane > .buttons-container .element .icon {
    -fx-background-color: white;
}

.paging-controls > .pane > .page-size-container > .choice-box > .label {
    -fx-text-fill: white;
}

.paging-controls > .pane > .page-size-container > .choice-box .open-button .arrow {
    -fx-shape: "M6.7656 6.1875 Q6.9062 6 7.125 6 Q7.3438 6 7.5312 6.0938 L13.0156 11.5625 Q13.2031 11.7188 13.2031 11.9375 Q13.2031 12.1406 13.1094 12.3438 L7.625 17.8125 Q7.4375 18 7.2188 18 Q7.0156 18 6.8125 17.8594 Q6.625 17.7188 6.5938 17.4844 Q6.5781 17.2344 6.7188 17.0469 L11.7656 12 L6.7656 7.0156 Q6.5781 6.8594 6.5781 6.6094 Q6.5781 6.3438 6.7656 6.1875 Z";
    -fx-rotate: 90;
    -fx-background-color: white;
    -fx-pref-width: 10px;
    -fx-pref-height: 10px;
}