.paging-controls {
    -fx-background-color: white;
}

.paging-controls > .pane > .page-buttons-container > .button {
    -fx-background-color: linear-gradient(#ff5400, #be1d00);
    -fx-background-radius: 30;
    -fx-background-insets: 0;
    -fx-text-fill: white;
}

.paging-controls > .pane > .page-buttons-container > .button.current {
    -fx-border-color: derive(red, -30%);
    -fx-border-radius: 1em;
}

.paging-controls > .pane > .page-buttons-container > .navigation-button {
    -fx-content-display: text-only;
    -fx-padding: 2px 10px;
}