.paging-controls {
    -fx-background-color: white;
}

.paging-controls > .pane > .buttons-container {
    -fx-spacing: 10px;
}

.paging-controls > .pane > .buttons-container > .grid-pane {
    -fx-hgap: 10px;
}

.paging-controls > .pane .element {
    -fx-background-color: transparent;
    -fx-border-color: lightgrey;
    -fx-border-width: 1px;
    -fx-border-radius: 4px;
    -fx-padding: 10px 20px;
    -fx-font-size: 1.5em;
    -fx-text-fill: -fx-text-base-color;
}

.paging-controls > .pane .button:hover {
    -fx-text-fill: -fx-text-base-color;
}

.paging-controls > .pane .button.current {
    -fx-background-color: black;
    -fx-background-radius: 4px;
    -fx-border-color: transparent;
    -fx-text-fill: white;
}

.paging-controls > .pane > .page-size-container > .page-size-label {
    -fx-font-size: 1.5em;
    -fx-padding: 0px 20px;
}

.paging-controls > .pane > .message-label {
    -fx-font-size: 1.5em;
}