.control-box {
    -fx-background-color: -color-bg-default;
    -fx-alignment: top-center;
    -fx-spacing: 10;
    -fx-padding: 10px;
    -fx-min-width: 185px;
    -fx-max-width: 185px;
}

.control-box > .check-box,
.control-box > .spinner,
.control-box > .button{
    -fx-pref-width: 165px;
}

.svg-image-view {
    /* The following is an example of how to set the URL for the SVG file via CSS */
    /*-fx-svg-url: url("microphone.svg");*/
    -fx-border-color: -color-border-default;
    -fx-border-style: dashed;
    -fx-background-color: white;
    -fx-padding: 5px;
}

.image-wrapper {
    -fx-background-color: -color-bg-default;
    -fx-pref-width: 408px;
    -fx-pref-height: 408px;
}