.date-range-view {
    -fx-padding: 10;
    -fx-background-color: -fx-box-border, -fx-control-inner-background;
    -fx-background-insets: 0px, 1px;
}

.date-range-view > .range-view-container {
    -fx-spacing: 25;
}

.date-range-view > .range-view-container > .stack-pane > .months-box {
    -fx-spacing: 16px;
}

.date-range-view > .range-view-container > .stack-pane > .center-piece {
    -size: 34px;
    -fx-min-width: -size;
    -fx-min-height: -size;
    -fx-pref-width: -size;
    -fx-pref-height: -size;
    -fx-max-width: -size;
    -fx-max-height: -size;

    -fx-background-color: -fx-box-border, white;
    -fx-background-insets: 0px, 1px;
    -fx-background-radius: 1000px, 1000px;
    -fx-padding: 5px;

    -fx-alignment: center;
}

.date-range-view > .range-view-container > .quick-select-box {
    -fx-spacing: 10;
}

.date-range-view > .range-view-container > .quick-select-box > .button {
}

.date-range-view > .range-view-container > .quick-select-box > .preset-label {
    -fx-padding: 0 0 0 15;
    -fx-text-fill: -fx-accent;
}

.date-range-view > .range-view-container > .quick-select-box > .quick-select-title {
    -fx-font-size: 14px;
    -fx-padding: 0 0 15 15;
}

.date-range-view > .range-view-container > .quick-select-box > .separator > .line {
    -fx-border-color: lightgrey transparent transparent transparent;
}